body {
    justify-content: center;
    display: flex;
    background-color: rgb(228, 228, 228);
}

#container {
    text-align: center;
    width: 800px;
}

.container {
    background-color: #5bc6e8;
    padding: 20px;
    margin-bottom: 20px;
    display: flex; 
    justify-content: space-between;
}

.pink {
    background-color: #d2a8a9;
    justify-content:space-around;
}

.white{
    background-color: #f7fafc;
}

.green{
    background-color: #d2b04f;
}

.grey{
    background-color: #80757b;
    justify-content: space-around;
}

.red {
    background-color: #6f0801;
}

.octocat {
    height: 200px;
}