*{
    margin: 0px;
    padding: 0px;
    font-family: 'Comic Sans MS', cursive;
}

#body{
    justify-items: center;
    
}

.head{
    background-color: black;
    color: white;
    padding: 10px;
    width: 900px;
}

#titulo{
    font-size: 30px;
}

.dos{
    color: black;
    margin: 10px;
}

.body{
    display: flex;
    width: 900px;
}

/*Derecha-----------------------------------*/

#derecha{
    flex: 3;
    padding-left: 20px;
}

#post{
    border-style: solid;
}
/*Izquierda-----------------------------------*/
#izquierda{
    flex: 1;
}
#user{
    border-style: solid;
    justify-items: center;
    flex: 1;
}


.add{
    font-size: 20px;
    margin-left: 5px;
}

img{
    width: 100px;
    margin: 35px
}

#name{
    font-size: 20px;
    margin: 20px;
}

.js{
    display: flex;
    justify-content: space-between;
    padding-right: 30px;
    margin-bottom: 30px;
    align-items: center;
    font-size: 25px;
}

#post{
    font-size: 25px;
    padding: 30px;
    margin-bottom: 10px;
}

#like{
    width: 70px;
    height: 40px;
    background-color: #ffd966;
    box-shadow: 4px 4px 0px 2px #000;
    border-color: #000;
    border-width: 4px;
    border-style: solid;
}

#like:hover{
    background-color: #d2b254;
}