*{
    margin: 0px;
    padding: 0px;
    font-family: "Comic Sans MS", cursive, sans-serif;
}
/*Head---------------------------------------------------------------------------------------------------------------*/
header{
    background-color: #9fc5f8;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#locations{
    display: flex;
    list-style: none;
}

.locations{
    margin: 15px;
    cursor: pointer;
}

#name{
    font-weight: bold;
    color: white;
}

a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
/*body-------------------------------------------------------------------------------------------------------------------*/
.container{
    justify-items: center;
}

#info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    border-bottom-style: solid;
    padding: 10px;
    width: 65%;
    border-radius: 4px;
}

.temp{
    display: flex;
    align-items: center;
}

#temperatura{
    margin-left: 10px;
}

#week{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.day{
    display: flex;  
    flex-direction: column;
    align-items: center;
    background-color: #eeeeee;
    padding: 20px;
    margin: 10px;
    width: 120px;
}

.clima{
    width: 80px;
    background-color: #fff;
    padding: 10px;
    border-radius: 90px;
}

.temps{
    margin-top: 10px;
}

#temp_max{
    color: #d33231;
    font-size: 20px;
    margin-right: 10px;
}

#temp_min{
    color: #006ee4;
    font-size: 20px;
    margin-left: 10px;
}

.time{
    margin-bottom: 10px;
}
/*body-------------------------------------------------------------------------------------------------------------------*/
/*cookies---------------------------------------------------------------------------------------------------------*/
#cookies{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #eeeeee;
    border-style: solid;
}