*{
    margin: 0px;
    padding: 0px;
}
header {
    background-color: blue;
    padding: 10px;
    margin-bottom: 30px;
    align-items: center;
}

ul{
    display: flex;
    align-items: center;
}

li {
    list-style: none;
    margin-right: 20px;
}

.link {
    text-decoration: none;
    color: white;
}

#container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

#funcion {
    height: 30px;
    width: 100px;
    color: white;
    background-color: dodgerblue;
    border-style: none;
    margin: 15px;
}

.card {
    margin: 10px;
}